body {
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
	font-weight: 400;
	font-family: "Roboto", "Arial", sans-serif;
	background-color: #849d8f;
}

/*html, body {

  min-width: 1220px;
	margin: 0px;
	padding: 0px;
}*/

body > input[type="radio"] {
	display: none;
}

/*= ПОЗИЦИОНИРОВАНИЕ =*/
/*= БЛОЧНАЯ МОДЕЛЬ =*/
/*= ТИПОГРАФИКА =*/
/*= ОФОРМЛЕНИЕ =*/
/*= АНИМАЦИЯ =*/
/*= РАЗНОЕ =*/

.clearfix::after {
	content: "";
	display: table;
	clear: both;

/*	height: 120px;
  background-color: white;
  background-image: linear-gradient(-45deg, white 45%, black 50%, white 55%);
  background-size: 20px;*/
}

.main-container {
	width: 1200px;
	margin: 0 auto;
	
	/*слайдер*/
/*	background-color: #96ab9f;
	background-image: url("../img/index-slider-1.png");*/
	background-repeat: no-repeat;
	background-position: top center;
	/*слайдер end*/	
}

.container {
	padding: 0 27px;
}

.main-header {
/*	min-height: 114px;
	background-color: purple;*/
	/*margin-bottom: 50px;*/ /*временное значение, пересчитать*/
}

.main-navigation {
	max-width: 853px;
	background-color: lightblue; /*удалить*/
}

.main-logo {
	float: left;
	width: 154px;
	margin-top: 9px;
}

.main-menu {
	float: left;
	width: 687px;
	margin-left: 12px;
	margin-top: 24px;
	background-color: rgba(255, 0, 0, 0.5); /*удалить*/
}

.main-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}

.main-menu li {
	display: inline-block;
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	vertical-align: top;
}

.main-menu a {
	display: block;
	padding: 6px 12px;
	color: #ffffff;
	text-decoration: none;
}

.main-menu a:hover {
	color: #333333;
	border-radius: 10px; /*!!!пересчитать значение!!!*/
	background: #f7f6f3; /*временно*/
}

.main-menu {
	padding: 0;
}

.user-block {
	float: right;
	width: 267px;
	height: 32px;
	font-size: 0;
	margin-top: 24px;
	background-color: rgba(255, 0, 0, 0.5); /*удалить*/
}

.user-block-item:nth-child(1) {
	display: inline-block;
	width: 33px;
	margin-right: 10px;
	margin-left: 5px;
	vertical-align: top;
}

.user-block-item:nth-child(2) {
	display: inline-block;
	width: 92px;
	margin-right: 10px;
	vertical-align: top;
}

.user-block-item:nth-child(3) {
	display: inline-block;
	width: 117px;
	margin-right: 0;
	vertical-align: top;
}

.user-block-item:nth-child(2) a {
	padding-left: 44px;
	padding-right: 16px;
}

.user-block-item:nth-child(3) a {
	padding-left: 45px;
	padding-right: 34px;
}

.user-block a {
	display: inline-block;
	padding-top: 9px;
	padding-bottom: 8px;
	color: #ffffff;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	text-decoration: none;
	vertical-align: top;
}

.user-block a:hover {
	color: #333333;
	background: #f7f6f3; /*временно*/
}

.shopping-cart {
	
}

.shopping-cart:before {

}

.header-contacts {
	float: right;
	width: 167px;
	margin-top: 19px;
	padding: 0;
	background-color: rgba(255, 0, 0, 0.5); /*временно*/
}

.header-contacts p {
	margin: 0;
	margin-bottom: 6px;
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
	text-align: right;
}

.header-contacts span {
	font-size: 22px;
	line-height: 24px;
	font-weight: 700;
	text-align: right;
}

.slider {
	position: relative;
	padding-top: 270px;
	margin-bottom: 41px;
	text-align: center;
	color: #ffffff;
}

.slide {
	display: none;
}

.slide-title {
	width: 700px; /*проверить!*/
	margin: 0 auto;
	margin-bottom: 30px;
	font-size: 60px;
	line-height: 60px;

	font-weight: 700;
}

.slide-btn {
	display: inline-block;
	/* возможно паддинги привести к единому значению*/
	padding-top: 11px;
	padding-bottom: 10px;
	padding-left: 41px;
	padding-right: 43px;

	font-size: 32px;
	line-height: 44px;
	font-weight: 700;
	vertical-align: top;
	color: #ffffff;
	text-decoration: none;
	/*добавить тень текста*/
	background: #f26843;
	/*добавить градиент*/

	border-radius: 100px;
	/*добавить тень контейнера*/
}

.slide-btn:hover {
	/*наведение*/
}

.slide-btn:active {
	/*нажатие*/
}
/*перепозиционировать!!!!!!!!!!!*/
.slider-controls { 
	position: absolute;
	bottom: 25px;
	left: 0;
	z-index: 20;
	font-size: 0;
}

.slider-controls label {
	display: inline-block;
	width: 21px;
	height: 21px;
	margin-right: 8px;
	vertical-align: top;
	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
}

#btn-1:checked ~ .main-container #slide-1,
#btn-2:checked ~ .main-container #slide-2,
#btn-3:checked ~ .main-container #slide-3 {
	display: block;
}

#btn-1:checked ~ .main-container {
	background-color: #849d8f;
	background-image: url("../img/index-slider-1.png");
}

#btn-2:checked ~ .main-container {
	background-color: #8996a6;
	background-image: url("../img/index-slider-2.png");
}

#btn-3:checked ~ .main-container {
	background-color: #9d8b84;
	background-image: url("../img/index-slider-3.png");
}

#btn-1:checked ~ .main-container label[for="btn-1"],
#btn-2:checked ~ .main-container label[for="btn-2"],
#btn-3:checked ~ .main-container label[for="btn-3"] {
	background-color: #ffffff;
}

.special-offers {
	margin-bottom: 40px;	
}

.special-item-left {
	float: left;
	width: 560px;
	height: 229px;
	background: url("../img/index-banner-1.png") no-repeat;
	background-color: blue; /*временно*/
}

.special-item-right {
	float: right;
	width: 560px;
	height: 229px;
	background: url("../img/index-banner-2.png") no-repeat;
	background-color: blue; /*временно*/
}

.special-offers h2 {
	margin: 0 0;
	margin-bottom: 23px;
	padding-top: 20px;
	padding-left: 20px;
	color: #ffffff;
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;
}

.special-offers p {
	margin: 0 0;
	padding-left: 20px;
	color: #ffffff;
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
}

.best-offers {
	margin-bottom: 40px; /*пересчитать*/
}

.best-offer-item {
	position: relative;
	float: left;
	width: 267px;
	/*vertical-align: top;*/
	margin-right: 26px;
	text-align: center;
}

.best-offer-item:last-child {
	margin-right: 0px;
}

.best-offer-item img {
	border-radius: 50%;
	margin-bottom: 13px;
}


.item-price {
	position: absolute;
	top: 209px;
	left: 0;
	color: #ffffff;
	font-size: 45px;
	line-height: 45px;
	font-weight: 700;
}

.item-link {
	color: #ffffff;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	
}

.main-description {
	float: left;
	width: 1146px;
	height: 306px; /*временно*/
	margin-bottom: 40px;
	background-color: lightblue; /*временно*/
}

.main-description h1 {
	margin: 0 0;
	padding-left: 21px;
	padding-right: 21px;
	padding-top: 26px;
	padding-bottom: 13px;
	color: #000000;
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;	
}

.description-block {
	display: inline-block;
	width: 560px;
	vertical-align: top;
}


.description-block ul {
	text-decoration: none;
	list-style: none;
}
.description-block p {

	color: #000000;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;		
}

.description-icon {
/*	display: block;
	min-width: 49px;
	min-height: 49px;
	background: url("../img/icon-icecream.png") no-repeat;
	box-sizing: border-box;*/
}

.news {
	margin-bottom: 40px;
	/*background-color: red;*/
}

.news-item-left {
	float: left;
	box-sizing: border-box;
	width: 560px;
	height: 220px;
	padding: 23px 20px 0 20px;
	background: url("../img/index-blog.png") no-repeat;
	background-color: blue; /*временно*/
}

.news-item-left p {
	margin: 0 0;
	color: #000000;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;		
}	

.news-item-left a {
	margin-top: 7px;
	color: #000000;
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;		
}	


.news-item-right {
	float: right;
	box-sizing: border-box;
	width: 560px;
	height: 220px;
	padding: 34px 27px 40px 27px;
	background: url("../img/index-subscribe.png") no-repeat;
	background-color: blue; /*временно*/
}

.news-item-right p {
	margin: 0;
	color: #000000;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
}

.news-item-right form {
	width: 368px;
	height: 44px;
	border: 1px solid red; /*временно*/
	margin-top: 35px;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}

.map {
  float: left;
 	position: relative;
  margin: 0;
  padding: 0;
	width: 1200px;
	margin-bottom: 40px;
/*	position: relative;
	left: -27px;
  z-index: 1;
  width: 100%;*/
}

.map-contacts {
	position: absolute;
	top: 62px;
	left: 871px;
	width: 302px;
	height: 305px;
	padding: 29px 25px 28px 16px;
	box-sizing: border-box;
	background-color: #ffffff;
}

.contacts-information p {
	color: #000000;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
}

.contacts-information span {
	color: #000000;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}


.main-footer {
	min-height: 103px;
	/*margin: 20px 0px;*/
}

.footer-social {
	float: left;
	width: 267px;
	/*margin-right: 81px;*/
	padding-top: 18px;
	background-color: rgba(255, 0, 0, 0.5); /*удалить*/
}

.social-btn {
	display: inline-block;
	width: 38px;
	height: 38px;
	margin-right: 11px;
	font-size: 0;
  vertical-align: top;
  text-decoration: none;
	background: #000000 url("../img/icon-instagram.png") no-repeat center; /*временно*/
}

.social-btn:nth-child(1) {
	margin-left: 0;
}
.footer-about {
	float: left;
	/*margin-left: 107px;*/
	width: 560px;
	background-color: red; /*временно*/
	/*box-sizing: border-box;*/
}

.footer-links a {
 	color: #ffffff;
	text-decoration: none;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
}

.footer-links span {
	font-size: 13px;
	line-height: 18px;
	font-weight: 700;
}

.footer-links:nth-child(1) {
	/*max-width: 133px;*/
}

.footer-copyright {
	float: right;
	width: 267px;
	background-color: red; /*временно*/
}


.index-description-title {
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;	
}

.catalog-title {
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;		
}

 /*--- CATALOG.HTML ---*/ 

.breadcrumbs {
	float: left;
	padding: 0;
	margin: 0;
	width: 826px;
	margin-top: 17px;
	padding: 0;
	background-color: rgba(255, 0, 0, 0.5); /*временно*/
}

.breadcrumb-item {
/*	position: relative;
	margin-right: 16px;*/
}

.breadcrumbs a {
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	color: #ffffff;
	text-decoration: none;
}

.catalog-title {
	margin: 0;
	margin-bottom: 25px;
	color: #ffffff;
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;
}

.catalog-form-section {
	float: left;
	width: 1146px;
	min-height: 200px; /*пересчитать*/
	background-color: orange; /*временно*/
}

.catalog-offers {
	font-size: 0px; /*"убиваем" размер шрифта для корректных inline-block*/
}

.offer-item {
	/*display: inline-block;*/
	float: left;
	width: 267px;
	vertical-align: top;
	font-size: 16px; /*восстанавливаем размер шрифта для inline-block*/
	margin-right: 26px;
}

.offer-item:nth-child(4n) {
	margin-right: 0px;
}

.form-item {
	float: left;
	width: 193px;
	margin-right: 16px;
}

.form-item:nth-child(2) {
	float: left;
	width: 218px;
	margin-right: 14px;
}

.form-item:nth-child(3) {
	float: left;
	width: 437px;
	margin-right: 267px;
}

.form-item:nth-child(4) {
	float: left;
	width: 702px;
	margin-right: 14px;
}

.form-item:nth-child(5) {
	float: left;
	width: 163px;
}

 /*--- CATALOG.HTML (END) ---*/


/*Спрайты*/

.sprite {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-catalog-basket-item-1 {
    width: 33px;
    height: 33px;
    background-position: -10px -10px;
}

.sprite-catalog-basket-item-2 {
    width: 33px;
    height: 33px;
    background-position: -10px -63px;
}

.sprite-icon-basket {
    width: 21px;
    height: 20px;
    background-position: -10px -116px;
}

.sprite-icon-basket-full {
    width: 21px;
    height: 20px;
    background-position: -10px -156px;
}

.sprite-icon-checkbox-off {
    width: 20px;
    height: 20px;
    background-position: -10px -196px;
}

.sprite-icon-checkbox-on {
    width: 20px;
    height: 20px;
    background-position: -10px -236px;
}

.sprite-icon-cow {
    width: 48px;
    height: 49px;
    background-position: -10px -276px;
}

.sprite-icon-cross-_10x10_ {
    width: 10px;
    height: 10px;
    background-position: -10px -345px;
}

.sprite-icon-cross-_17x17_ {
    width: 17px;
    height: 17px;
    background-position: -10px -375px;
}

.sprite-icon-facebook {
    width: 32px;
    height: 32px;
    background-position: -10px -412px;
}

.sprite-icon-heart {
    width: 15px;
    height: 13px;
    background-position: -10px -464px;
}

.sprite-icon-hit {
    width: 61px;
    height: 61px;
    background-position: -10px -497px;
}

.sprite-icon-icecream {
    width: 49px;
    height: 49px;
    background-position: -10px -578px;
}

.sprite-icon-instagram {
    width: 32px;
    height: 32px;
    background-position: -10px -647px;
}

.sprite-icon-leaf {
    width: 49px;
    height: 49px;
    background-position: -10px -699px;
}

.sprite-icon-login {
    width: 21px;
    height: 19px;
    background-position: -10px -768px;
}

.sprite-icon-marker {
    width: 8px;
    height: 5px;
    background-position: -10px -807px;
}

.sprite-icon-paginator-left {
    width: 9px;
    height: 14px;
    background-position: -10px -832px;
}

.sprite-icon-paginator-right {
    width: 9px;
    height: 14px;
    background-position: -10px -866px;
}

.sprite-icon-radiobtn-off {
    width: 21px;
    height: 22px;
    background-position: -10px -900px;
}

.sprite-icon-radiobtn-on {
    width: 21px;
    height: 22px;
    background-position: -10px -942px;
}

.sprite-icon-ruble {
    width: 31px;
    height: 36px;
    background-position: -10px -984px;
}

.sprite-icon-search {
    width: 17px;
    height: 17px;
    background-position: -10px -1040px;
}

.sprite-icon-thermometer {
    width: 48px;
    height: 49px;
    background-position: -10px -1077px;
}

.sprite-icon-twitter {
    width: 32px;
    height: 32px;
    background-position: -10px -1146px;
}

.sprite-icon-vkontakte {
    width: 32px;
    height: 32px;
    background-position: -10px -1198px;
}


