body {
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
	font-weight: 400;
	font-family: "Roboto", "Arial", sans-serif;
	background-color: #849d8f;/*временный фон*/
}

html, body {
/*возможно этот блок потом заменить на контейнер*/
	min-width: 1220px;
	margin: 0px;
	padding: 0px;
}

/*= ПОЗИЦИОНИРОВАНИЕ =*/
/*= БЛОЧНАЯ МОДЕЛЬ =*/
.clearfix::after {
	content: "";
	display: table;
	clear: both;

	height: 20px;
  background-color: white;
  background-image: linear-gradient(-45deg, white 45%, black 50%, white 55%);
  background-size: 20px;
}

.container {
	width: 1146px;
	padding: 0 27px;
	margin: 0 auto;
	/*временный фон, удалить*/
	background-color: green;
}

.main-header {
	margin-bottom: 50px; /*временное значение, пересчитать*/
}

.main-navigation {
	float: left;
	width: 853px;
	min-height: 71px; /*временное значение, пересчитать*/
	/*временный фон, удалить*/
	background-color: blue;
}

.user-block {
	float: right;
	width: 267px;
	min-height: 71px; /*временное значение, пересчитать*/
	/*временный фон, удалить*/
	background-color: yellow;
}

.slider {
	/*?????*/
		float: left;
		min-height: 575; /*временно*/
		background-color: blue; /*временно*/
}

.special-offers {
	margin-bottom: 40px;	
}

.special-item-left {
	float: left;
	width: 560px;
	min-height: 229; /*временно*/
	background-color: blue; /*временно*/

}

.special-item-right {
	float: right;
	width: 560px;
	min-height: 229; /*временно*/
	background-color: blue; /*временно*/

}
.best-offers {
	font-size: 0px; /*"убиваем" размер шрифта для корректных inline-block*/
	margin-bottom: 40px;
}

.best-offer-item {
	display: inline-block;
	width: 267px;
	vertical-align: top;
	font-size: 16px; /*восстанавливаем размер шрифта для inline-block*/
	margin-right: 26px;
}

.best-offer-item:last-child {
	margin-right: 0px;
}

.main-description {
	float: left;
	width: 1146px;
	margin-bottom: 40px;
	min-height: 306px; /*временно*/
	background-color: blue; /*временно*/
}

.news {
	margin-bottom: 40px;
	min-height: 220px; /*временно*/
	background-color: blue; /*временно*/
}

.news-item-left {
	float: left;
	width: 560px;
	background-color: blue; /*временно*/
}

.news-item-right {
	float: right;
	width: 560px;
	background-color: blue; /*временно*/
}

.map {
	float: left;
	width: 1200px;
	margin-top: 40px;
}

.main-footer {
	margin: 20px 0px;
}

.footer-social {
	float: left;
	width: 267px;
	background-color: blue; /*временно*/
}

.footer-about {
	float: left;
	width: 560px;
	background-color: blue; /*временно*/
}

.footer-copyright {
	float: right;
	width: 267px;
	background-color: blue; /*временно*/
}

/*= ТИПОГРАФИКА =*/
.index-description-title {
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;	
}

.catalog-title {
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;		
}
/*= ОФОРМЛЕНИЕ =*/
/*= АНИМАЦИЯ =*/
/*= РАЗНОЕ =*/
